* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --color-primary: #94a3b8;
    --color-secondary: #475569;
    --color-dark: #1e293b;
    --color-light: #e2e8f0;
}

html {
    background-color: black;


   
}

body {

    margin: 0px;
    font-family: 'Hind', sans-serif;
}

svg {
    color: var(--color-secondary);
}

.main-container {
    display: grid;
    grid-template-columns: minmax(240px, 1fr) 5fr;
    grid-template-rows: 150px;
    background-color: var(--color-primary);
}

header {
    background-color: var(--color-light);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

p,
h2 {
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    color: var(--color-light);
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

h5 {
    font-size: 1rem;
}

.header-top-row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    padding: 15px 10px 0px 10px;

}

.header-top-right {
    display: grid;
    grid-template-columns: 50px 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.header-top-right>img {
    box-shadow: 0px 0px 5px var(--color-secondary);
    padding: 0px;
    width: 35px;
    justify-self: end;
}

.header-top-right>div:last-child {
    justify-self: start;
    padding-left: 20px;
}

.header-top-left {
    display: grid;

}

[type="search"] {
    width: 40%;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-dark);
    border: none;
    border-radius: 15px;
    padding: 10px 5px 3px 5px;

}

form {
    padding-left: 20px;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 100px 6fr 1fr 1fr 1fr;
    height: 60%;
    font-size: 1.2rem;
    padding: 10px;
    padding-top: 20px;
}

.header-bottom-row>div {
    align-self: center;
}

.header-bottom-row>div:first-child {
    justify-self: end;
    padding-right: 15px;
}

.header-bottom-row>div>img {
    width: 50px;
    box-shadow: 0px 0px 5px var(--color-secondary);
    padding: 0px;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--color-secondary);
    color: var(--color-light);
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

nav {
    background-color: var(--color-primary);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;
}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.5rem;
    margin: 20px 0px;
}

.nav-icon {
    justify-self: center;
}

.nav-icon>svg {
    color: var(--color-dark);
}

#top-nav-item {
    font-size: 1.8rem;
    margin-top: 20px;
}


#nav-settings {
    margin-top: 100px;
}

main {
    background-color: var(--color-secondary);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.main-main-area {
    padding: 15px 0px 15px 10px;
}

.main-main-area>h3 {
    margin: 0px;
    padding-left: 20px;
}

.card-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 200px));
    justify-items: center;
    align-items: center;
    row-gap: 30px;
}

.card {
    /* background: linear-gradient(0.25turn, var(--color-primary), var(--color-light));; */
    background-color: var(--color-light);
    display: grid;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    
}

img {
    border-radius: 10px;
    max-width: 250px;
    padding: 10px 10px 0px 10px;

}

.card>p {
    font-size: 0.8rem;
    justify-self: start;
    padding-left: 10px;
}

.card-icons {

    display: grid;
    grid-template-columns: 30px 30px 30px;
    padding-right: 10px;
    justify-self: end;
    
}

.main-side-area {
    background-color: var(--color-dark);
    height: 100%;
    padding: 15px 30px;

    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}

.announcement>h3,
.trending>h3 {
    margin: 0px;
   
}

.announcement-box {
    padding: 0px 15px 20px 15px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.announcement-box>div>p {
    font-size: 0.6rem;
    line-height: 0.7rem;
}

.announcement-box>div>h5 {
    margin: 0px;
    padding: 15px 0px 0px 0px;
}

.trending>h3 {
    margin-top: 20px;
}

.trending-box {
    padding: 5px 20px 5px 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.trending-box>div {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 20px 1fr;
    column-gap: 5px;
    margin: 5px 0px;

}

.trending .icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    max-height: 40px;
    border: 1px solid var(--color-secondary);
    padding: 0px;
    border-radius: 5px;
    align-self: center;
}

.tag {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 10px;
    font-size: 0.8rem;
}

.description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 0.7rem;
    padding-left: 15px;
}