* {
    box-sizing: border-box;
}

:root {
    --color-primary: #94a3b8;
    --color-secondary: #475569;
    --color-dark: #1e293b;
    --color-light: #e2e8f0;

}

html {
    display: flex;
    justify-content: center;
    background-color: black;
    box-sizing: border-box;
}

body {
    width: 70vw;
    height: 100vh;
    margin: 0px;
    font-family: 'Hind', sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 4fr;
    background-color: var(--color-primary);
}

header {
    background-color: var(--color-light);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

p,
h2 {
    margin: 0px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
    color: var(--color-light);
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

h5 {
    font-size: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.header-top-row {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    height: 40%;
    padding: 10px;
    box-sizing: border-box;
}

.header-top-row>div {
    padding-left: 20px;
    font-size: 1.2rem;
    align-self: center;
}

[type="search"] {
    width: 80%;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    margin-left: 10px;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    height: 60%;
    font-size: 1.2rem;
    padding: 10px;
    box-sizing: border-box;
}

.header-bottom-row>div {
    align-self: center;

}

.header-bottom-row>div:first-child {
    justify-self: end;
    padding-right: 15px;
}

button {
    width: 70px;
    height: 25px;
    border-radius: 20px;
}

nav {
    background-color: var(--color-primary);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: var(--color-dark);
    font-size: 1.2rem;
}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.5rem;
    margin: 20px 0px;
}

.nav-icon {
    justify-self: center;
}

#top-nav-item {
    font-size: 1.8rem;
    margin: 20px 0px 50px 0px;
}

#nav-settings {
    margin-top: 50px;
}

main {
    background-color: var(--color-secondary);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 30px;
}

.main-main-area {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr 1fr;
    padding-left: 15px;
    gap: 10px;
}

.main-main-area>h3 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 0px;
    padding-left: 10px;

}

.card {
    width: 90%;
    height: 90%;
    background-color: var(--color-light);
    align-self: start;
    justify-self: center;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.card>p {
    font-size: 0.9rem;
}

.card-icons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: end;
}

.main-side-area {
    padding: 0px 15px 15px 15px;
    gap: 10px;
}



.announcement>h3,
.trending>h3 {
    margin: 0px;

}



.announcement-box {
    padding-top: 10px;

}

.announcement-box>div,
.trending-box>div {
    background-color: var(--color-light);
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 15px;

}

.announcement-box>div>p {
    font-size: 0.8em;
    padding: 5px;
}

.announcement-box>div>h5 {
    margin: 0px;
    padding: 5px;
}

.trending>h3 {
    margin-top: 20px;
}

.trending-box {
    margin-top: 10px;

}

.trending-box>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px 15px;

}



.trending .icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.trending .tag {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending .description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}