* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --color-primary: #94a3b8;
    --color-secondary: #475569;
    --color-dark: #1e293b;
    --color-light: #e2e8f0;
}

html {
    background-color: black;
}

body {
    margin: 0px;
    font-family: 'Hind', sans-serif;
}

svg {
    color: var(--color-secondary);
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 150px;
    background-color: var(--color-primary);
}

header {
    background-color: var(--color-light);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

p,
h2 {
    margin: 0px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
    color: var(--color-light);
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

h5 {
    font-size: 1rem;
}

.header-top-row {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    height: 40%;
    padding: 20px;
}

.header-top-row>div {
    padding-left: 20px;
    font-size: 1.2rem;
    align-self: center;
}

[type="search"] {
    width: 80%;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    margin-left: 10px;
    border: none;
    border-radius: 10px;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    height: 60%;
    font-size: 1.2rem;
    padding: 10px;
}

.header-bottom-row>div {
    align-self: center;
}

.header-bottom-row>div:first-child {
    justify-self: end;
    padding-right: 15px;
}

button {
    width: 70px;
    height: 25px;
    border-radius: 20px;
}

nav {
    background-color: var(--color-primary);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.5rem;
    margin: 20px 0px;
}

.nav-icon {
    justify-self: center;
}

.nav-icon>svg {
    color: var(--color-dark);
}

#top-nav-item {
    font-size: 1.8rem;
    margin: 20px 0px 50px 0px;
}

#nav-settings {
    margin-top: 50px;
}

main {
    background-color: var(--color-secondary);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.main-main-area {
    display: grid;
    grid-template-rows: 30px;
    padding-left: 15px;
}

.main-main-area>h3 {
    margin: 0px;
    padding-left: 10px;

}

.card-area {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 230px));
    justify-items: center;
    align-items: center;
}

.card {
    background-color: var(--color-light);
    display: grid;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

img {
    border-radius: 15px;
    max-width: 280px;
    padding: 10px;
}

.card>p {
    font-size: 0.8rem;
    justify-self: start;
    padding-left: 10px;
}

.card-icons {

    display: grid;
    grid-template-columns: 30px 30px 30px;
    padding-right: 10px;
    justify-self: end;
}

.main-side-area {
    background-color: var(--color-dark);
    height: 100%;
    padding: 15px;
    gap: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcement>h3,
.trending>h3 {
    margin: 0px;
}

.announcement-box {
    padding: 10px;
    background-color: var(--color-light);
    border-radius: 10px;
}

.announcement-box>div>p {
    font-size: 0.7rem;
}

.announcement-box>div>h5 {
    margin: 0px;
    padding: 5px;
}

.trending>h3 {
    margin-top: 20px;
}

.trending-box {
    background-color: var(--color-light);
    border-radius: 10px;
}

.trending-box>div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 25px 1fr;
}

.trending .icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    max-height: 70px;

}

.tag {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 0.7rem;
}