:root {
    --color-primary: #94a3b8;
    --color-secondary: #475569;
    --color-dark: #1e293b;
    --color-light: #e2e8f0;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0px;
    font-family: 'Hind', sans-serif;
}

p,
h2 {
    margin: 0px;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    color: var(--color-light);
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

h5 {
    font-size: 1rem;
}

svg {
    color: var(--color-secondary);
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;

}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 175px 1fr;
    grid-template-areas:
        "nav header"
        "nav main";
    background-color: var(--color-primary);
}


header {
    background-color: var(--color-light);
    grid-area: header;
    display: grid;
    grid-template-areas:
        "top-row"
        "bottom-row";
}

/* Header Top Row  */
.header-top-row {
    grid-area: top-row;
    display: grid;
    grid-template-columns: auto 60px 50px 120px;
    grid-template-areas:
        "form notification avatar-small user-name";
    align-items: center;
    justify-items: center;
    padding: 0px 20px;

}

form {
    grid-area: form;
    justify-self: start;
    width: 70%;
    display: flex;
    align-items: center;

    gap: 10px;
}

input {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-dark);
    border: none;
    border-radius: 15px;
    padding: 10px 5px 3px 5px;
}

label {
    display: flex;
    align-items: center;
}

.notification {
    grid-area: notification;


}

.avatar-small {
    grid-area: avatar-small;
    box-shadow: 0px 0px 5px var(--color-secondary);
    width: 45px;
    border-radius: 5px;
}

.user-name {
    grid-area: user-name;
    font-size: 1.2rem;
}

/* Header Bottom Row  */
.header-bottom-row {
    display: grid;
    grid-template-columns: 70px auto 400px;
    grid-template-areas:
        "avatar-med welcome button-area";
    justify-items: start;
    align-items: center;
    padding: 0px 20px;
}

.avatar-med {
    grid-area: avatar-med;
}

.welcome {
    grid-area: welcome;
}

.buttons {
    grid-area: button-area;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    justify-self: end;
}

.buttons>button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--color-secondary);
    color: var(--color-light);
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

/*  Nav area */
nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 100px;
    grid-template-areas:
        "logo"
        "upper-nav"
        "lower-nav";
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;

}

.logo {
    grid-area: logo;
    align-items: center;
}

.upper-nav {
    grid-area: upper-nav;
    align-self: start;
}

.lower-nav {
    grid-area: lower-nav;
    align-self: center;

}

.nav-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.5rem;
    margin: 20px 0px;
}

.nav-icon {
    justify-self: center;
    display: flex;
    align-items: center;
}

.nav-icon>svg {
    color: var(--color-dark);

}

/* Main Area */
main {

    grid-area: main;
    display: grid;
    grid-template-columns: 300px 300px 300px minmax(280px, 350px);
    grid-template-rows: 30px repeat(3, 230px);
    grid-auto-rows: 230px;
    grid-template-areas:
        "title title title sidebar"
        "card0 card1 card2 sidebar"
        "card3 card4 card5 sidebar"
        "card6 card7 card8 sidebar";

    gap: 20px;
    overflow-y: scroll;
    background-color: var(--color-secondary);
    padding-left: 20px;
}

.title {
    grid-area: title;
    padding-top: 10px;
}

.card:nth-child(0) {
    grid-area: card0
}

.card:nth-child(1) {
    grid-area: card1
}

.card:nth-child(2) {
    grid-area: card2
}

.card:nth-child(3) {
    grid-area: card3
}

.card:nth-child(4) {
    grid-area: card4
}

.card:nth-child(5) {
    grid-area: card5
}

.card:nth-child(6) {
    grid-area: card6
}

.card:nth-child(7) {
    grid-area: card7
}

.card:nth-child(8) {
    grid-area: card8
}



.sidebar {
    grid-area: sidebar;
}

/* Card Layout */
.card {
    background-color: var(--color-light);
    display: grid;
    grid-template-rows: auto 0.9rem auto;
    grid-template-areas:
        "image"
        "img-title"
        "img-options";
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.card-image {
    grid-area: image;
    border-radius: 15px;
    max-width: 280px;
    width: 100%;
}



.card>p {
    grid-area: img-title;
    font-size: 0.8rem;
    justify-self: start;
    padding-left: 10px;

}

.card-icons {
    grid-area: img-options;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    padding-right: 10px;
    justify-self: end;
}


@media only screen and (max-width: 1540px) {
    .main-container {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 150px 1fr;

    }

    input,
    .nav-item {
        font-size: 1.1rem;
    }

    main {
        grid-template-columns: 250px 250px 250px minmax(240px, 300px);
        grid-template-rows: 30px repeat(3, 200px);


    }

    .card {
        grid-template-rows: 130px 0.9rem 40px;
        max-width: 280px;


    }

    .card-image {
        max-width: 220px;
    }
}

/* Sidebar */
.sidebar {
    background-color: var(--color-dark);
    padding: 15px 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcement>h3,
.trending>h3 {
    margin: 0px;
    padding-bottom: 3px;
}

.announcement-box {
    padding: 0px 20px 20px 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.announcement-box>div>p {
    font-size: 0.7rem;
}

.announcement-box>div>h5 {
    margin: 0px;
    padding: 15px 0px 0px 0px;
}

@media only screen and (max-width: 1540px) {
    .main-container {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 150px 1fr;
    }

    input,
    .nav-item {
        font-size: 1.1rem;
    }

    main {
        grid-template-columns: 250px 250px 250px minmax(280px, 350px);
        grid-template-rows: 30px repeat(3, 200px);
        grid-auto-rows: 250px;

    }

    .card {
        grid-template-rows: 130px 0.9rem 40px;
        max-width: 280px;

    }

    .card-image {
        max-width: 220px;
    }


    .announcement-box>div>p,
    .description {
        font-size: 0.6rem;
        line-height: 0.7rem;
    }

    .trending-box>div {
        grid-template-rows: 30px 1fr;
    }

    .icon {
        max-height: 40px;
    }
}

.trending>h3 {
    margin-top: 20px;
}

.trending-box {
    padding: 5px 20px 5px 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.trending-box>div {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    margin: 5px 0px;

}

.trending .icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    max-height: 50px;
    border: 1px solid var(--color-secondary);
    padding: 0px;
    border-radius: 5px;

}

.tag {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 10px;
}

.description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 0.7rem;
    padding-left: 15px;
}